.base, .resize1, .resize2 {
  width: 120px;
  aspect-ratio: 1;
  overflow: hidden;
}
.base {
  transform-origin: left top;
  --scale: 2;
  scale: var(--scale);
  position: relative;
  outline: solid;
}
.WH1 {
  counter-reset: w1 h1;
}
.WH2 {
  counter-reset: w2 h2;
}
.resize1, .resize2 {
  position: absolute;
  max-width: 120px;
  max-height: 120px;
  resize: both;
  animation: linear reverse;
  animation-name: w, h;
  animation-timeline: view(x), view(y);
  animation-range: contain cover;
}
.resize1 {
  counter-increment: w1 var(--w) h1 var(--h);
}
.resize2 {
  counter-increment: w2 var(--w) h2 var(--h);
}
.WH1::after, .WH2::after {
  display: block;
  white-space: pre;
  letter-spacing: calc(1px - 1ch);
  line-height: 1px;
  color: transparent;
}
.WH1::after {
  content: counter(w1, w) counter(h1, h);
}
.WH2::after {
  content: counter(w2, w) counter(h2, h);
}
.WH1, .WH2 {
  position: absolute;
  animation: linear reverse;
  animation-name: w, h;
  animation-timeline: view(x), view(y);
  animation-range: contain cover;
}
/* Resize handles are 16px, offset by -8px to use the center */
.WH1 {
  --w1: calc(var(--w) - 8);
  --h1: calc(var(--h) - 8);
  --r1: 20;
}
.WH2 {
  --w2: calc(var(--w) - 8);
  --h2: calc(var(--h) - 8);
  --r2: 16;
}
.resize1:focus, .resize2:focus {
  z-index: 999;
}
@counter-style w {
  system: symbolic;
  symbols: '0';
}
@counter-style h {
  system: symbolic;
  symbols: '\A';
}
@keyframes w {
  to {
    --w: 120;
  }
}
@keyframes h {
  to {
    --h: 120;
  }
}
@property --w {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}
@property --h {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}
.circle1, .circle2, .arrow {
  pointer-events: none;
  position: absolute;
}
.circle1, .circle2 {
  left: calc(1px * var(--w));
  top: calc(1px * var(--h));
  width: calc(2px * var(--r));
  height: calc(2px * var(--r));
  translate: calc(-1px * var(--r)) calc(-1px * var(--r));
  background: radial-gradient(beige 8px, black 8px, black 8.5px, var(--color) 8.5px);
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 50%;
  z-index: 1000;
}
.circle1 {
  --color: pink;
  --w: var(--w1);
  --h: var(--h1);
  --r: var(--r1);
}
.circle2 {
  --color: lightblue;
  --w: var(--w2);
  --h: var(--h2);
  --r: var(--r2);
}
.arrow {
  --length: calc(hypot(var(--w1) - var(--w2), var(--h1) - var(--h2)) - var(--r1) - var(--r2));
  --angle: atan2(var(--h2) - var(--h1), var(--w2) - var(--w1));
  left: calc(1px * (var(--w1) + (var(--r1) + 0.5) * cos(var(--angle))));
  top: calc(1px * (var(--h1) + (var(--r1) + 0.5) * sin(var(--angle))));
  width: calc(1px * (var(--length) - 1));
  transform-origin: left;
  rotate: var(--angle);
  --outline: if(
    style(--length: 0): none;
    else: dotted;
  );
  outline: var(--outline) gray;
}
.arrow::after {
  position: absolute;
  font-size: calc(6px + 0.1px * var(--length));
  font-weight: bold;
  left: 50%;
  translate: -50%;
  counter-reset: length round(var(--scale) * var(--length));
  content: counter(length);
  --reverse: min(0, var(--w1) - var(--w2));
  --rotate: if(
    style(--reverse: 0): 180deg;
    else: none;
  );
  rotate: var(--rotate);
  line-height: 0;
}
@property --length {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}
@property --reverse {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}